accelerate==1.1.1
appdirs==1.4.4
bitsandbytes==0.44.1
black==24.10.0
black[jupyter]==24.10.0
datasets==3.1.0
fire==0.7.0
peft==0.10.0
transformers==4.46.3
sentencepiece==0.2.0
torch>=1.7.1
gradio==5.8.0
lm-format-enforcer==0.10.9
protobuf==5.5.1